# Git Ignore Rules
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Ignore Everything in the WP upfront
#/*
#/*.php
#/*.txt
#/*.html
/node_modules
#/public/*
/public/wp/*.php
/public/wp/*.json
/public/wp/*.js
/public/wp/*.txt
/public/wp/*.html
/public/wp/wp-admin/*
/public/wp/wp-content/*
/public/wp/wp-includes/*
/public/wp/node_modules/*

# But not these files...
!.gitignore
!README.md
!.vscode
!/public/wp/wp-config.php
!/public/wp/wp-content/plugins/*
!/public/wp/wp-content/themes/archoda/*
