# Git Ignore Rules
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Ignore Everything in the WP upfront
/*

# But not these files...
!.gitignore
!README.md
!.vscode
!wp-config.php
!*wp-content