# Git Ignore Rules
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Ignore Everything in the WP upfront
#/*
#/*.php
#/*.txt
#/*.html
/node_modules
/public/lib/js/bundle.js
/public/lib/js/bundle.js.map
/public/wp/*.php
/public/wp/*.json
/public/wp/*.js
/public/wp/*.txt
/public/wp/*.html
/public/wp/node_modules/*
/public/wp/wp-content/languages/*
/public/wp/wp-content/*
/public/wp/wp-admin/*
/public/wp/wp-includes/*


# But not these files...
!.gitignore
!/**/*README.md
!.vscode
!/public/wp/wp-config.php
!/public/wp/wp-content/plugins
!/public/wp/wp-content/plugins/archoda/*
!/public/wp/wp-content/themes
!/public/wp/wp-content/themes/archoda/*

